.all-devices-wrapper {
  background-image: url('../public/img/all-devices/background.svg');
  background-size: cover;
  background-position: center;

  .all-devices-background {
    padding: 2.46vw 10.07% 3.34vw;
    background-color: $all-devices-background;

    .all-devices {
      @extend %limiting-container;

      &__header {
        margin-bottom: 3.46vw;
      }

      &__content {
        position: relative;
      }

      &__img-frame {
        position: relative;
        z-index: 1;
        width: 100%;
      }

      &__img-frame-phone {
        position: relative;
        display: none;
        width: 100%;
        z-index: 1;
      }

      &__img-tablet {
        position: absolute;
        top: 3.43%;
        left: 21.71%;
        width: 56.33%;
      }

      &__img-phone {
        position: absolute;
        width: 17.09%;
        bottom: -18.45%;
        right: 17.1%;
        z-index: 2;
      }
    }
  }
}

@media (max-width: 790px)
{
  .all-devices-wrapper {
    .all-devices-background {
      padding: 13.49375vw 16px 7.8125vw;

      .all-devices {
        &__header {
          margin-bottom: 11.45vw;
        }
        &__img-frame {
          display: none;
        }
    
        &__img-frame-phone {
          display: block;
        }
    
        &__img-tablet {
          top: 4.57%;
          left: 2.08%;
          width: 95.14%;
        }

        &__img-phone {
          width: 29.56%;
          bottom: -24.7%;
          right: 10.03%;
        }       
      }
    }
  }
}