$primary-color: #F38281;
$secondary-color: #F9EFCF;
$tertiary-color: #F4BF87;
$quaternary-color: #95E1D3;
$quinary-color: #F8F8F8;
$font-primary-color: #2D3033;
$border-color: #C6CBCD;
$white-color: #FFF;
$primary-gradient: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
$main-button-hover-color: #E4BE8D;
$all-devices-background: rgba(255, 255, 255, 0.8);
