.footer-wrapper {
  padding: 0 16px;

  .footer {
    @extend %limiting-container;
    border-top: 1px solid $border-color;

    &__copyright {
      padding: 17.5px 0;
      font-weight: 700;
    }
  }
}

@media (max-width: 1024px) {
  .footer-wrapper {
    .footer {
      &__copyright {
        padding: 15px;
      }
    }
  }
}

@media (max-width: 790px) {
  .footer-wrapper {
    .footer {
      &__copyright {
        padding: 10px;
      }
    }
  }
}