@import "./colors";

%separator {
  max-width: 170px;
  height: 4px;
  margin: auto;
}

%limiting-container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-Regular.ttf);;
  font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-Medium.ttf);;
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-Bold.ttf);;
  font-weight: 700;
}

@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-ExtraBold.ttf);;
  font-weight: 900;
}

@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: KaushanScript;
  src: url(../public/fonts/KaushanScript-Regular.ttf);
  font-weight: 400;
}

body {
  font-family: Raleway;
  color: $font-primary-color;
}

h1 {
  font-family: Montserrat;
  font-size: 144px;
  font-weight: 700;
  line-height: 185px;
  text-align: center;
}

h2 {
  font-family: KaushanScript;
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  text-align: center;
}

h4 {
  font-family: KaushanScript;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  text-align: center; 
}

h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.section {
  &__secondary-title {
    padding: 18px 0;
  }

  &__title {
    padding: 20px 0;
    margin-bottom: 24px;
  }

  &__separator {
    @extend %separator;
    background-color: $primary-color;
  }

  &__desc {
    padding: 38px 0;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 96px;
    line-height: 125px;
  }
  
  h2 {
    font-size: 48px;
    line-height: 54px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    font-size: 24px;
    line-height: 35px;
  }

  h5 {
    font-size: 18px;
    line-height: 21px;
  }

  h6 {
    font-size: 12px;
    line-height: 14px;
  }

  p {
    font-size: 14px;
    line-height: 16px;
  }

  .section {
    &__secondary-title {
      padding: 16px 0;
    }
  
    &__title {
      margin-bottom: 20px;
    }
  
    &__separator {
      max-width: 148px;
    }
  
    &__desc {
      padding: 33.5px 0;
    }
  }
}

@media (max-width: 790px) {
  h1 {
    font-size: 48px;
    line-height: 87.5px;
  }
  
  h2 {
    font-size: 36px;
  }

  .section {
    &__separator {
      max-width: 134px;
    }
  
    &__desc {
      padding: 34px 0;
    }
  }
}