* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: block;
}

img {
  display: block;
}

ul {
  list-style: none;
}

input {
  min-width: 0;
}

.main-banner-wrapper .main-banner-background .main-banner__separator, .section__separator {
  max-width: 170px;
  height: 4px;
  margin: auto;
}

.footer-wrapper .footer, .map-wrapper .map, .our-stories-wrapper .our-stories, .happy-clients-wrapper .happy-clients-background .happy-clients, .partners-wrapper .partners, .our-team-wrapper .our-team, .service-wrapper .service, .all-devices-wrapper .all-devices-background .all-devices, .amazing-services-wrapper .amazing-services, .futures-wrapper .futures, .about-wrapper .about, .main-banner-wrapper .main-banner-background .main-banner, .header-wrapper .header {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../public/fonts/Raleway-ExtraBold.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: KaushanScript;
  src: url(../public/fonts/KaushanScript-Regular.ttf);
  font-weight: 400;
}
body {
  font-family: Raleway;
  color: #2D3033;
}

h1 {
  font-family: Montserrat;
  font-size: 144px;
  font-weight: 700;
  line-height: 185px;
  text-align: center;
}

h2 {
  font-family: KaushanScript;
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  text-align: center;
}

h4 {
  font-family: KaushanScript;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.section__secondary-title {
  padding: 18px 0;
}
.section__title {
  padding: 20px 0;
  margin-bottom: 24px;
}
.section__separator {
  background-color: #F38281;
}
.section__desc {
  padding: 38px 0;
  text-align: center;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 96px;
    line-height: 125px;
  }
  h2 {
    font-size: 48px;
    line-height: 54px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }
  h4 {
    font-size: 24px;
    line-height: 35px;
  }
  h5 {
    font-size: 18px;
    line-height: 21px;
  }
  h6 {
    font-size: 12px;
    line-height: 14px;
  }
  p {
    font-size: 14px;
    line-height: 16px;
  }
  .section__secondary-title {
    padding: 16px 0;
  }
  .section__title {
    margin-bottom: 20px;
  }
  .section__separator {
    max-width: 148px;
  }
  .section__desc {
    padding: 33.5px 0;
  }
}
@media (max-width: 790px) {
  h1 {
    font-size: 48px;
    line-height: 87.5px;
  }
  h2 {
    font-size: 36px;
  }
  .section__separator {
    max-width: 134px;
  }
  .section__desc {
    padding: 34px 0;
  }
}
.header-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  padding: 0 16px;
}
.header-wrapper .header {
  display: flex;
  justify-content: space-between;
}
.header-wrapper .header__logo {
  max-height: 100px;
}
.header-wrapper .header__burger-checkbox {
  display: none;
}
.header-wrapper .header__burger {
  display: none;
}
.header-wrapper .header__cross {
  display: none;
}
.header-wrapper .header__navbar {
  display: flex;
}
.header-wrapper .header__links-list {
  display: flex;
  align-items: center;
}
.header-wrapper .header__link {
  min-width: 114px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
.header-wrapper .header__link_active, .header-wrapper .header__link:hover {
  color: #F4BF87;
  position: relative;
}
.header-wrapper .header__link_active::after, .header-wrapper .header__link:hover::after {
  content: "";
  min-width: 85px;
  height: 1px;
  background-color: #F4BF87;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
}
.header-wrapper .header__link-icon {
  cursor: pointer;
  margin-left: 17px;
}
.header-wrapper .header__link-icon:last-child {
  margin-left: 35px;
}

@media (max-width: 1024px) {
  .header-wrapper .header__logo {
    max-height: 68px;
  }
  .header-wrapper .header__link {
    min-width: 94px;
    font-size: 13px;
    line-height: 15px;
  }
  .header-wrapper .header_active::after, .header-wrapper .header:hover::after {
    min-width: 70px;
    bottom: -6.5px;
  }
  .header-wrapper .header__link-icon {
    margin-left: 28px;
  }
  .header-wrapper .header__link-icon:last-child {
    margin-left: 24px;
  }
}
@media (max-width: 790px) {
  .header-wrapper:has(.header__burger-checkbox:checked) {
    position: fixed;
  }
  .header-wrapper .header__logo {
    max-height: 56px;
    z-index: 2;
  }
  .header-wrapper .header__navbar {
    display: none;
  }
  .header-wrapper .header__burger {
    display: block;
  }
  .header-wrapper .header__burger-checkbox:checked + label + label {
    display: block;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 20px;
  }
  .header-wrapper .header__burger-checkbox:checked + label + label + .header__navbar {
    display: block;
    background-image: url("../public/img/main-banner/main-banner-background.svg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .header-wrapper .header__links-list {
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    opacity: 0.9;
    height: 100%;
    padding: 84px 20px 0;
    flex-direction: column;
  }
  .header-wrapper .header__link {
    min-width: 100%;
    font-weight: 700;
    padding: 24.5px 0;
  }
  .header-wrapper .header__link_active, .header-wrapper .header__link:hover {
    color: #FFF;
    position: relative;
  }
  .header-wrapper .header__link_active::after, .header-wrapper .header__link:hover::after {
    display: none;
  }
  .header-wrapper .header__link-icon {
    display: none;
  }
}
.main-banner-wrapper {
  background-image: url("../public/img/main-banner/main-banner-background.svg");
  background-size: cover;
  background-position: center;
}
.main-banner-wrapper .main-banner-background {
  padding: 10.37vw 10.07% 0;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  opacity: 0.9;
}
.main-banner-wrapper .main-banner-background .main-banner__secondary-title {
  color: #FFF;
}
.main-banner-wrapper .main-banner-background .main-banner__title {
  color: #FFF;
  margin-bottom: 2.74vw;
}
.main-banner-wrapper .main-banner-background .main-banner__separator {
  width: 14.53%;
  background-color: #FFF;
}
.main-banner-wrapper .main-banner-background .main-banner__btn {
  width: 31.62%;
  margin: 4.6vw auto 7.3vw;
  padding: 22px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  border: 4px solid #FFF;
}
.main-banner-wrapper .main-banner-background .main-banner__btn:hover {
  background-color: #FFF;
  color: #E4BE8D;
}
.main-banner-wrapper .main-banner-background .main-banner__btn:active {
  background-color: #FFF;
  color: #E4BE8D;
  border: 4px solid #E4BE8D;
}
.main-banner-wrapper .main-banner-background .main-banner__slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main-banner-wrapper .main-banner-background .main-banner__slide {
  width: calc((100% - 90px) / 4);
  font-size: 18px;
  font-weight: 500;
  color: #F9EFCF;
  border-top: 4px solid #F9EFCF;
  padding: 22px 0;
}
.main-banner-wrapper .main-banner-background .main-banner__slide span {
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
}
.main-banner-wrapper .main-banner-background .main-banner__slide_active {
  color: #FFF;
  border-top: 4px solid #FFF;
  position: relative;
}
.main-banner-wrapper .main-banner-background .main-banner__slide_active::before {
  content: "";
  width: 25.93%;
  height: 4px;
  background-color: #F38281;
  position: absolute;
  top: -4px;
  left: 0;
}

@media (max-width: 1024px) {
  .main-banner-wrapper .main-banner-background .main-banner__btn {
    padding: 12px;
    font-size: 18px;
    line-height: 22px;
  }
  .main-banner-wrapper .main-banner-background .main-banner__slide {
    width: calc((100% - 20px) / 4);
    font-size: 14px;
    padding: 21px 0;
  }
  .main-banner-wrapper .main-banner-background .main-banner span {
    font-size: 24px;
    line-height: 16px;
  }
}
@media (max-width: 790px) {
  .main-banner-wrapper .main-banner-background {
    padding: 90px 16px 0;
  }
  .main-banner-wrapper .main-banner-background .main-banner__title {
    margin-bottom: 0;
  }
  .main-banner-wrapper .main-banner-background .main-banner__separator {
    width: 41.875vw;
  }
  .main-banner-wrapper .main-banner-background .main-banner__btn {
    width: 100%;
    margin: 49px auto 54px;
    padding: 12px;
    font-size: 18px;
  }
  .main-banner-wrapper .main-banner-background .main-banner__slide {
    font-size: 0px;
    color: #F9EFCF;
    padding: 24px 0;
  }
  .main-banner-wrapper .main-banner-background .main-banner__slide span {
    font-size: 0px;
    line-height: 42px;
  }
  .main-banner-wrapper .main-banner-background .main-banner__slide_active::before {
    width: 100%;
  }
}
.about-wrapper {
  padding: 42px 16px 108px;
}
.about-wrapper .about__header {
  margin-bottom: 58px;
}
.about-wrapper .about__content {
  display: flex;
  justify-content: space-between;
}
.about-wrapper .about__column {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.about-wrapper .about__column:hover .about__squares {
  display: block;
}
.about-wrapper .about__squares {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}
.about-wrapper .about__square_1 {
  width: 100%;
  height: 100%;
  background-color: #95E1D3;
}
.about-wrapper .about__square_2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -16px;
  left: -16px;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  padding: 8.4vw 0 7.3vw;
  text-align: center;
  color: #FFF;
  font-size: 24px;
}
.about-wrapper .about__icon {
  margin: 0 auto 2vw;
}
.about-wrapper .about__img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1260px) {
  .about-wrapper .about__square_2 {
    top: -6px;
    left: -6px;
  }
}
@media (max-width: 1024px) {
  .about-wrapper {
    padding: 29px 16px 60px;
  }
  .about-wrapper .about__header {
    margin-bottom: 49px;
  }
  .about-wrapper .about__column {
    width: calc((100% - 40px) / 3);
  }
  .about-wrapper .about__square_2 {
    font-size: 18px;
  }
}
@media (max-width: 790px) {
  .about-wrapper {
    padding-bottom: 59px;
  }
  .about-wrapper .about__header {
    margin-bottom: 16px;
  }
  .about-wrapper .about__content {
    flex-direction: column;
    gap: 16px;
  }
  .about-wrapper .about__column {
    width: 100%;
  }
  .about-wrapper .about__squares {
    display: block;
  }
  .about-wrapper .about__square_1 {
    display: none;
  }
  .about-wrapper .about__square_2 {
    padding: 26px 14px;
    height: 32.17%;
    top: 67.83%;
    left: 0;
    display: flex;
    align-items: center;
    gap: 33px;
  }
  .about-wrapper .about__icon {
    width: 30px;
    height: 30px;
    margin: 0;
  }
}
.futures-wrapper {
  padding: 0 16px;
  background-color: #95E1D3;
}
.futures-wrapper .futures__item-list {
  display: flex;
}
.futures-wrapper .futures__item {
  width: 20%;
  padding: 4.3vw 0;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.futures-wrapper .futures__item span {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
}

@media (max-width: 1024px) {
  .futures-wrapper .futures__item span {
    font-size: 48px;
    line-height: 50px;
  }
}
@media (max-width: 790px) {
  .futures-wrapper .futures__item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .futures-wrapper .futures__item {
    width: 50%;
    padding: 4.3vw 0;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FFF;
  }
}
.amazing-services-wrapper {
  padding: 2.46vw 16px 5.33vw;
}
.amazing-services-wrapper .amazing-services__header {
  margin-bottom: 80px;
}
.amazing-services-wrapper .amazing-services__item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 24.49vw;
}
.amazing-services-wrapper .amazing-services__item {
  width: calc((100% - 60px) / 3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.amazing-services-wrapper .amazing-services__item-img {
  width: 18.07%;
}
.amazing-services-wrapper .amazing-services__item-info {
  width: 73.82%;
}
.amazing-services-wrapper .amazing-services__item-title {
  padding: 11.5px 0;
  text-align: left;
}
.amazing-services-wrapper .amazing-services__item-desc {
  padding: 19px 0;
}

@media (max-width: 1024px) {
  .amazing-services-wrapper .amazing-services__header {
    margin-bottom: 68px;
  }
  .amazing-services-wrapper .amazing-services__item {
    width: calc((100% - 50px) / 3);
  }
  .amazing-services-wrapper .amazing-services__item-title {
    padding: 11px 0;
  }
  .amazing-services-wrapper .amazing-services__item-desc {
    padding: 18px 0;
  }
}
@media (max-width: 790px) {
  .amazing-services-wrapper {
    padding: 29px 16px 58px;
  }
  .amazing-services-wrapper .amazing-services__header {
    margin-bottom: 66px;
  }
  .amazing-services-wrapper .amazing-services__item-list {
    gap: 36px;
  }
  .amazing-services-wrapper .amazing-services__item {
    width: 100%;
  }
  .amazing-services-wrapper .amazing-services__item-img {
    min-width: 57px;
  }
  .amazing-services-wrapper .amazing-services__item-info {
    min-width: 211px;
  }
  .amazing-services-wrapper .amazing-services__item-desc {
    padding: 6.5px 0;
  }
}
.all-devices-wrapper {
  background-image: url("../public/img/all-devices/background.svg");
  background-size: cover;
  background-position: center;
}
.all-devices-wrapper .all-devices-background {
  padding: 2.46vw 10.07% 3.34vw;
  background-color: rgba(255, 255, 255, 0.8);
}
.all-devices-wrapper .all-devices-background .all-devices__header {
  margin-bottom: 3.46vw;
}
.all-devices-wrapper .all-devices-background .all-devices__content {
  position: relative;
}
.all-devices-wrapper .all-devices-background .all-devices__img-frame {
  position: relative;
  z-index: 1;
  width: 100%;
}
.all-devices-wrapper .all-devices-background .all-devices__img-frame-phone {
  position: relative;
  display: none;
  width: 100%;
  z-index: 1;
}
.all-devices-wrapper .all-devices-background .all-devices__img-tablet {
  position: absolute;
  top: 3.43%;
  left: 21.71%;
  width: 56.33%;
}
.all-devices-wrapper .all-devices-background .all-devices__img-phone {
  position: absolute;
  width: 17.09%;
  bottom: -18.45%;
  right: 17.1%;
  z-index: 2;
}

@media (max-width: 790px) {
  .all-devices-wrapper .all-devices-background {
    padding: 13.49375vw 16px 7.8125vw;
  }
  .all-devices-wrapper .all-devices-background .all-devices__header {
    margin-bottom: 11.45vw;
  }
  .all-devices-wrapper .all-devices-background .all-devices__img-frame {
    display: none;
  }
  .all-devices-wrapper .all-devices-background .all-devices__img-frame-phone {
    display: block;
  }
  .all-devices-wrapper .all-devices-background .all-devices__img-tablet {
    top: 4.57%;
    left: 2.08%;
    width: 95.14%;
  }
  .all-devices-wrapper .all-devices-background .all-devices__img-phone {
    width: 29.56%;
    bottom: -24.7%;
    right: 10.03%;
  }
}
.service-wrapper {
  padding: 42px 16px 114px;
}
.service-wrapper .service__header {
  margin-bottom: 42px;
}
.service-wrapper .service__content {
  display: flex;
  justify-content: space-between;
}
.service-wrapper .service__img {
  width: calc((100% - 30px) / 2);
}
.service-wrapper .service__item-list {
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-wrapper .service__item {
  border: 1px solid #C6CBCD;
}
.service-wrapper .service__radio {
  display: none;
}
.service-wrapper .service__radio:checked + label .service__item-title {
  padding: 31.5px 0;
  border-bottom: 1px solid #C6CBCD;
}
.service-wrapper .service__radio:checked + label .service__item-arrow {
  transform: translate(0, -50%) rotate(180deg);
}
.service-wrapper .service__radio:checked + label .service__item-body {
  display: block;
}
.service-wrapper .service__item-header {
  position: relative;
}
.service-wrapper .service__item-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 18px;
}
.service-wrapper .service__item-title {
  padding: 32px 0;
}
.service-wrapper .service__item-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
}
.service-wrapper .service__item-body {
  display: none;
  padding: 18.5px 24px 18.5px 24px;
}
.service-wrapper .service__item-desc {
  padding-right: 61px;
  max-height: 126px;
  overflow-y: auto;
}
.service-wrapper .service__item-desc::-webkit-scrollbar {
  width: 7px;
}
.service-wrapper .service__item-desc::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
.service-wrapper .service__item-desc::-webkit-scrollbar-thumb {
  background-color: #95E1D3;
}

@media (max-width: 1120px) {
  .service-wrapper .service__img {
    width: calc((100% - 20px) / 2);
    min-width: 445px;
  }
  .service-wrapper .service__item-list {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 1024px) {
  .service-wrapper {
    padding: 86px 16px 88px;
  }
  .service-wrapper .service__header {
    margin-bottom: 36px;
  }
  .service-wrapper .service__item-list {
    width: calc(100% - 465px);
  }
  .service-wrapper .service__item_active .service__item-title {
    padding: 28px 0;
  }
  .service-wrapper .service__item-icon {
    width: 36px;
    left: 15px;
  }
  .service-wrapper .service__item-title {
    padding: 28.5px 0;
  }
  .service-wrapper .service__item-arrow {
    width: 36px;
    right: 12px;
  }
  .service-wrapper .service__item-body {
    padding: 21px 20px 21px 21px;
  }
  .service-wrapper .service__item-desc {
    padding-right: 52px;
    max-height: 96px;
  }
  .service-wrapper .service__item-desc::-webkit-scrollbar {
    width: 6px;
  }
}
@media (max-width: 790px) {
  .service-wrapper {
    padding: 52px 16px 31px;
  }
  .service-wrapper .service__header {
    margin-bottom: 29px;
  }
  .service-wrapper .service__content {
    flex-direction: column;
    gap: 29px;
  }
  .service-wrapper .service__img {
    width: 100%;
  }
  .service-wrapper .service__item-list {
    width: 100%;
    gap: 19px;
  }
  .service-wrapper .service__item_active .service__item-title {
    padding: 30.5px 0;
  }
  .service-wrapper .service__item-title {
    font-size: 14px;
    line-height: 16px;
    padding: 31px 0;
  }
  .service-wrapper .service__item-arrow {
    right: 10px;
  }
  .service-wrapper .service__item-body {
    padding: 9px 25px 9px 21px;
  }
  .service-wrapper .service__item-desc {
    font-size: 13px;
    line-height: 15px;
    max-height: 120px;
  }
}
.reviews-wrapper {
  padding: 42px 32px;
}
.reviews-wrapper_grey-background {
  background-color: #F8F8F8;
}
.reviews-wrapper .reviews {
  max-width: 1150px;
  margin: auto;
  display: flex;
}
.reviews-wrapper .reviews__arrow {
  width: 3.65%;
}
.reviews-wrapper .reviews__arrow_right {
  transform: rotate(180deg);
}
.reviews-wrapper .reviews__icon {
  width: 14.78%;
  margin: 0 30px 0 48px;
}
.reviews-wrapper .reviews__content {
  max-width: 770px;
  margin-right: 48px;
}
.reviews-wrapper .reviews__text {
  padding: 6px 0;
  color: #A9AFB1;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 21px;
}
.reviews-wrapper .reviews__author {
  padding: 14px 0;
  text-align: left;
  margin-left: 126px;
  position: relative;
}
.reviews-wrapper .reviews__author::before {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #F38281;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -126px;
}
.reviews-wrapper .reviews__slider {
  display: none;
  min-width: 130px;
  margin: auto;
  justify-content: space-between;
}
.reviews-wrapper .reviews__dot {
  border: 1px solid #C6CBCD;
  border-radius: 50%;
  min-width: 10px;
  min-height: 10px;
}
.reviews-wrapper .reviews__dot:hover, .reviews-wrapper .reviews__dot_active {
  background-color: #C6CBCD;
}

@media (max-width: 1024px) {
  .reviews-wrapper {
    padding: 28px 32px;
  }
  .reviews-wrapper .reviews__icon {
    min-width: 125px;
    margin: 0 38px 0 56px;
  }
  .reviews-wrapper .reviews__content {
    margin-right: 39px;
  }
  .reviews-wrapper .reviews__text {
    padding: 1.5px 0;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 21px;
  }
  .reviews-wrapper .reviews__author {
    padding: 0.5px 0;
    font-size: 24px;
    margin-left: 85px;
  }
  .reviews-wrapper .reviews__author::before {
    content: "";
    width: 47px;
    height: 4px;
    left: -85px;
  }
}
@media (max-width: 790px) {
  .reviews-wrapper {
    padding: 29px 16px;
  }
  .reviews-wrapper_grey-background .reviews__icon {
    display: none;
  }
  .reviews-wrapper .reviews {
    flex-direction: column;
  }
  .reviews-wrapper .reviews__icon {
    min-width: 115px;
    margin: 0 auto 55px;
  }
  .reviews-wrapper .reviews__arrow {
    display: none;
  }
  .reviews-wrapper .reviews__content {
    max-width: 100%;
    margin: 0 0 25px;
  }
  .reviews-wrapper .reviews__text {
    padding: 6px 0;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 18px;
  }
  .reviews-wrapper .reviews__author {
    padding: 5px 0;
    font-size: 18px;
    line-height: 26px;
  }
  .reviews-wrapper .reviews__slider {
    display: flex;
  }
}
.our-team-wrapper {
  padding: 5.53vw 16px;
}
.our-team-wrapper .our-team__header {
  margin-bottom: 58px;
}
.our-team-wrapper .our-team__content {
  display: flex;
  justify-content: space-between;
}
.our-team-wrapper .our-team__column {
  width: calc((100% - 60px) / 3);
}
.our-team-wrapper .our-team__img-container {
  position: relative;
}
.our-team-wrapper .our-team__img {
  width: 100%;
}
.our-team-wrapper .our-team__img:hover + .our-team__square {
  display: block;
}
.our-team-wrapper .our-team__square {
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  position: absolute;
  top: -16px;
  left: -16px;
}
.our-team-wrapper .our-team__square:hover {
  display: block;
}
.our-team-wrapper .our-team__socials {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-team-wrapper .our-team__icon {
  width: 11.35%;
  cursor: pointer;
}
.our-team-wrapper .our-team__name {
  padding: 26px 0;
}
.our-team-wrapper .our-team__position {
  padding: 4.5px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

@media (max-width: 1260px) {
  .our-team-wrapper .our-team__square {
    top: -5px;
    left: -5px;
  }
}
@media (max-width: 1024px) {
  .our-team-wrapper .our-team__header {
    margin-bottom: 49px;
  }
  .our-team-wrapper .our-team__column {
    width: calc((100% - 40px) / 3);
  }
  .our-team-wrapper .our-team__name {
    padding: 14px 0;
  }
  .our-team-wrapper .our-team__position {
    padding: 1.5px 0;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 790px) {
  .our-team-wrapper {
    padding: 29px 16px 58px;
  }
  .our-team-wrapper .our-team__header {
    margin-bottom: 19px;
  }
  .our-team-wrapper .our-team__content {
    flex-direction: column;
    gap: 31px;
  }
  .our-team-wrapper .our-team__column {
    width: 100%;
  }
  .our-team-wrapper .our-team__img-container {
    position: relative;
  }
  .our-team-wrapper .our-team__img {
    width: 100%;
  }
  .our-team-wrapper .our-team__square {
    display: block;
    max-width: 168px;
    max-height: 42px;
    background: transparent;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  .our-team-wrapper .our-team__socials {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .our-team-wrapper .our-team__icon {
    width: 25%;
  }
  .our-team-wrapper .our-team__name {
    padding: 14px 0;
  }
}
.partners-wrapper {
  padding: 2.73vw 16px;
  background-color: #F8F8F8;
}
.partners-wrapper .partners {
  display: grid;
  grid-template-columns: repeat(5, calc((100% - 410px) / 6) 1fr) calc((100% - 410px) / 6);
}
.partners-wrapper .partners__icon {
  width: 100%;
}
.partners-wrapper .partners__icon:nth-child(1) {
  grid-column: 1;
}
.partners-wrapper .partners__icon:nth-child(2) {
  grid-column: 3;
}
.partners-wrapper .partners__icon:nth-child(3) {
  grid-column: 5;
}
.partners-wrapper .partners__icon:nth-child(4) {
  grid-column: 7;
}
.partners-wrapper .partners__icon:nth-child(5) {
  grid-column: 9;
}
.partners-wrapper .partners__icon:nth-child(6) {
  grid-column: 11;
}

@media (max-width: 1024px) {
  .partners-wrapper .partners {
    grid-template-columns: repeat(5, 86px 1fr) 86px;
  }
}
@media (max-width: 790px) {
  .partners-wrapper {
    padding: 30px 42px 22px;
  }
  .partners-wrapper .partners {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .partners-wrapper .partners__icon:nth-child(1) {
    grid-column: 1/5;
  }
  .partners-wrapper .partners__icon:nth-child(2) {
    grid-column: 9/13;
  }
  .partners-wrapper .partners__icon:nth-child(3) {
    grid-column: 9/13;
    grid-row: 3;
  }
  .partners-wrapper .partners__icon:nth-child(4) {
    grid-column: 1/5;
    grid-row: 3;
  }
  .partners-wrapper .partners__icon:nth-child(5) {
    grid-column: 5/9;
    grid-row: 4;
  }
  .partners-wrapper .partners__icon:nth-child(6) {
    grid-column: 5/9;
    grid-row: 2;
  }
}
.our-work-wrapper {
  padding: 5.47vw 0;
}
.our-work-wrapper .our-work__header {
  margin-bottom: 2.74vw;
}
.our-work-wrapper .our-work__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}
.our-work-wrapper .our-work__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-work-wrapper .our-work__img:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.our-work-wrapper .our-work__img:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.our-work-wrapper .our-work__img:nth-child(3) {
  grid-column: 3;
  grid-row: 1/3;
}
.our-work-wrapper .our-work__img:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}
.our-work-wrapper .our-work__img:nth-child(5) {
  grid-column: 1;
  grid-row: 2;
}
.our-work-wrapper .our-work__img:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}
.our-work-wrapper .our-work__img:nth-child(7) {
  grid-column: 4;
  grid-row: 2;
}

@media (max-width: 790px) {
  .our-work-wrapper {
    padding: 29px 0;
  }
  .our-work-wrapper .our-work {
    grid-template-rows: 1fr 1fr 1fr;
  }
  .our-work-wrapper .our-work__header {
    margin-bottom: 0;
  }
  .our-work-wrapper .our-work__img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }
  .our-work-wrapper .our-work__img:nth-child(2) {
    grid-column: 3/5;
    grid-row: 4;
  }
  .our-work-wrapper .our-work__img:nth-child(3) {
    grid-column: 3/5;
    grid-row: 1/4;
  }
  .our-work-wrapper .our-work__img:nth-child(4) {
    grid-column: 1/3;
    grid-row: 4;
  }
  .our-work-wrapper .our-work__img:nth-child(5) {
    grid-column: 1/3;
    grid-row: 2;
  }
  .our-work-wrapper .our-work__img:nth-child(6) {
    grid-column: 1/5;
    grid-row: 5;
  }
  .our-work-wrapper .our-work__img:nth-child(7) {
    grid-column: 1/3;
    grid-row: 3;
  }
}
.happy-clients-wrapper {
  background-image: url("../public/img/happy-clients/unsplash_-qrcOR33ErA.svg");
  background-size: cover;
  background-position: center;
}
.happy-clients-wrapper .happy-clients-background {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2.74vw 16px;
}
.happy-clients-wrapper .happy-clients-background .happy-clients__header {
  margin-bottom: 2.74vw;
}
.happy-clients-wrapper .happy-clients-background .happy-clients__content {
  display: flex;
  justify-content: space-between;
  row-gap: 42px;
  flex-wrap: wrap;
}
.happy-clients-wrapper .happy-clients-background .happy-clients__client {
  width: calc((100% - 70px) / 2);
  display: flex;
  justify-content: space-between;
}
.happy-clients-wrapper .happy-clients-background .happy-clients__client-img {
  width: 23.64%;
  align-self: flex-start;
}
.happy-clients-wrapper .happy-clients-background .happy-clients__client-info {
  width: calc(76.36% - 50px);
}
.happy-clients-wrapper .happy-clients-background .happy-clients__client-name {
  padding: 12px 0;
  text-align: left;
}
.happy-clients-wrapper .happy-clients-background .happy-clients__client-position {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
}
.happy-clients-wrapper .happy-clients-background .happy-clients__client-separator {
  max-width: 70px;
  height: 4px;
  margin: 2.08vw 0;
  background-color: #F38281;
}
.happy-clients-wrapper .happy-clients-background .happy-clients__client-decs {
  padding: 22.5px 0;
}

@media (max-width: 1024px) {
  .happy-clients-wrapper .happy-clients-background .happy-clients__content {
    row-gap: 28px;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client {
    width: calc((100% - 50px) / 2);
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-info {
    width: calc(76.36% - 48px);
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-name {
    padding: 7px 0;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-position {
    font-size: 14px;
    line-height: 14px;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-separator {
    max-width: 47px;
    height: 4px;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-decs {
    padding: 19px 0;
  }
}
@media (max-width: 790px) {
  .happy-clients-wrapper .happy-clients-background {
    padding: 29px 16px;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__header {
    margin-bottom: 29px;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__content {
    display: flex;
    justify-content: space-between;
    row-gap: 29px;
    flex-wrap: wrap;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client {
    width: 100%;
    flex-direction: column;
    gap: 21px;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-img {
    width: 88px;
    margin: auto;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-info {
    width: 100%;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-name {
    text-align: center;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-position {
    text-align: center;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-separator {
    max-width: 134px;
    height: 4px;
    margin: 21px auto;
  }
  .happy-clients-wrapper .happy-clients-background .happy-clients__client-decs {
    text-align: center;
    padding: 16px 0;
  }
}
.our-stories-wrapper {
  padding: 5.47vw 16px;
}
.our-stories-wrapper .our-stories__header {
  margin-bottom: 2.74vw;
}
.our-stories-wrapper .our-stories__content {
  display: flex;
  justify-content: space-between;
}
.our-stories-wrapper .our-stories__column {
  width: calc((100% - 60px) / 3);
}
.our-stories-wrapper .our-stories__column-image-container {
  position: relative;
}
.our-stories-wrapper .our-stories__column-image {
  width: 100%;
}
.our-stories-wrapper .our-stories__column-square {
  background-color: #95E1D3;
  width: 21.62%;
  height: 31.62%;
  position: absolute;
  left: -3.78%;
  top: 58.5%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-stories-wrapper .our-stories__column-square-num {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.our-stories-wrapper .our-stories__column-square-mon {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.our-stories-wrapper .our-stories__column-title {
  padding: 6px 0;
  margin-top: 30px;
}
.our-stories-wrapper .our-stories__column-desc {
  padding: 7.5px 0;
  margin-bottom: 22px;
}
.our-stories-wrapper .our-stories__column-icon-container {
  display: flex;
  gap: 4.32%;
  align-items: center;
}
.our-stories-wrapper .our-stories__column-icon-container span {
  font-size: 13px;
  font-weight: 400;
  width: 14.05%;
}
.our-stories-wrapper .our-stories__column-icon {
  width: 8.65%;
}

@media (max-width: 1024px) {
  .our-stories-wrapper .our-stories__column {
    width: calc((100% - 40px) / 3);
  }
  .our-stories-wrapper .our-stories__column-image {
    width: 100%;
  }
  .our-stories-wrapper .our-stories__column-num {
    font-size: 24px;
    line-height: 24px;
  }
  .our-stories-wrapper .our-stories__column-mon {
    font-size: 14px;
    line-height: 16px;
  }
  .our-stories-wrapper .our-stories-title {
    padding: 6.5px 0;
    margin-top: 26px;
  }
  .our-stories-wrapper .our-stories-desc {
    padding: 18.5px 0;
    margin-bottom: 20px;
  }
  .our-stories-wrapper .our-stories-icon-container span {
    font-size: 12px;
  }
}
@media (max-width: 790px) {
  .our-stories-wrapper {
    padding: 29px 16px;
  }
  .our-stories-wrapper .our-stories__header {
    margin-bottom: 36px;
  }
  .our-stories-wrapper .our-stories__content {
    flex-direction: column;
    gap: 29px;
  }
  .our-stories-wrapper .our-stories__column {
    width: 100%;
  }
  .our-stories-wrapper .our-stories__column-image-container {
    position: relative;
  }
  .our-stories-wrapper .our-stories__column-image {
    width: 100%;
  }
  .our-stories-wrapper .our-stories__column-square {
    min-width: 68px;
    min-height: 68px;
    left: 0;
  }
  .our-stories-wrapper .our-stories__column-square-title {
    padding: 6.5px 0;
    margin-top: 26px;
  }
  .our-stories-wrapper .our-stories__column-square-desc {
    padding: 15.5px 0;
    margin-bottom: 20px;
  }
  .our-stories-wrapper .our-stories__column-square-icon-container {
    gap: 4.32%;
  }
  .our-stories-wrapper .our-stories__column-square-icon-container span {
    font-size: 13px;
    font-weight: 400;
    width: 14.05%;
  }
  .our-stories-wrapper .our-stories__column-square-icon {
    width: 8.65%;
  }
}
.map-wrapper {
  background-image: url("../public/img/map/unsplash_x3REnO9z7io.svg");
  background-size: cover;
  background-position: center;
}
.map-wrapper-background {
  padding: 2.74vw 16px;
  background-color: rgba(255, 255, 255, 0.9);
}
.map-wrapper .map__icon {
  margin: auto;
}
.map-wrapper .map__title {
  color: #F38281;
}

@media (max-width: 1024px) {
  .map-wrapper .map__icon {
    max-width: 28px;
  }
}
@media (max-width: 790px) {
  .map-wrapper-background {
    padding: 42px 16px;
  }
  .map-wrapper .map__icon {
    min-width: 42px;
  }
}
.footer-wrapper {
  background-color: #F8F8F8;
  padding: 0 16px;
}
.footer-wrapper .footer__content {
  padding: 2.74vw 0;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .footer__column_1 {
  width: calc((100% - 60px) / 3);
}
.footer-wrapper .footer__logo {
  width: 72.97%;
}
.footer-wrapper .footer__logo-phone {
  display: none;
  width: 100%;
}
.footer-wrapper .footer__desc {
  padding: 17.5px 0;
  color: #C6CBCD;
}
.footer-wrapper .footer__folowers {
  padding: 25px 0;
  border-bottom: 1px solid #C6CBCD;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 30px;
}
.footer-wrapper .footer__folowers-num {
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
}
.footer-wrapper .footer__folowers-k {
  font-weight: 700;
  font-style: normal;
}
.footer-wrapper .footer__icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-wrapper .footer__icons-title {
  padding: 14px 0;
  color: #C6CBCD;
  font-style: italic;
}
.footer-wrapper .footer__icon-list {
  display: flex;
  justify-content: space-between;
  width: 72.97%;
}
.footer-wrapper .footer__icon-container {
  width: calc((100% - 77px) / 8);
}
.footer-wrapper .footer__icon {
  width: 100%;
}
.footer-wrapper .footer__form {
  display: flex;
  margin-top: 37px;
}
.footer-wrapper .footer__input {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #C6CBCD;
  border-right: none;
  outline: none;
  flex-grow: 1;
  text-align: center;
}
.footer-wrapper .footer__input::-moz-placeholder {
  color: #C6CBCD;
}
.footer-wrapper .footer__input::placeholder {
  color: #C6CBCD;
}
.footer-wrapper .footer__btn {
  background-color: #95E1D3;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  min-width: 133.83px;
  border: none;
  padding: 17px 0;
}
.footer-wrapper .footer__btn:hover {
  background-color: #87D2C4;
}
.footer-wrapper .footer__btn:active {
  background-color: #5C958A;
}
.footer-wrapper .footer__column-title {
  padding: 36px 0;
  text-align: left;
}
.footer-wrapper .footer__column_2 {
  width: calc((100% - 60px) / 2.36);
}
.footer-wrapper .footer__blog-list {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-wrapper .footer__blog {
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .footer__blog-img {
  width: calc((100% - 30px) / 2.59);
}
.footer-wrapper .footer__blog-info {
  width: calc((100% - 30px) / 1.63);
}
.footer-wrapper .footer__blog-title {
  padding: 3.5px 0;
  font-weight: 700;
}
.footer-wrapper .footer__blog-date {
  padding: 10px 0;
  text-align: left;
}
.footer-wrapper .footer__column_3 {
  width: calc((100% - 60px) / 4.11);
}
.footer-wrapper .footer__inst-list {
  display: flex;
  flex-wrap: wrap;
}
.footer-wrapper .footer__inst-item {
  width: 33.3333333333%;
}
.footer-wrapper .footer__inst {
  width: 100%;
}
.footer-wrapper .footer__underline {
  padding: 38px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-decoration: underline;
}
.footer-wrapper .footer__copyright {
  border-top: 1px solid #C6CBCD;
  padding: 17.5px 0;
  font-size: 13px;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .footer-wrapper .footer__column_1 {
    width: calc((100% - 40px) / 3);
  }
  .footer-wrapper .footer__desc {
    padding: 15.5px 0;
  }
  .footer-wrapper .footer__folowers {
    padding: 9px 0;
    font-style: italic;
    font-size: 14px;
    line-height: 30px;
  }
  .footer-wrapper .footer__folowers-num {
    font-size: 28px;
  }
  .footer-wrapper .footer__icons-title {
    padding: 7.5px 0;
  }
  .footer-wrapper .footer__icon-list {
    width: 72.97%;
  }
  .footer-wrapper .footer__icon-container {
    width: calc((100% - 105px) / 8);
  }
  .footer-wrapper .footer__form {
    margin-top: 31px;
  }
  .footer-wrapper .footer__input {
    font-size: 14px;
  }
  .footer-wrapper .footer__btn {
    font-size: 14px;
    line-height: 16px;
    min-width: 133.83px;
    padding: 10.5px 0;
  }
  .footer-wrapper .footer__column-title {
    padding: 23.5px 0;
  }
  .footer-wrapper .footer__column_2 {
    width: calc((100% - 40px) / 2.36);
  }
  .footer-wrapper .footer__blog-list {
    height: calc(100% - 68px);
  }
  .footer-wrapper .footer__blog-img {
    width: calc((100% - 20px) / 2.59);
  }
  .footer-wrapper .footer__blog-info {
    width: calc((100% - 20px) / 1.63);
  }
  .footer-wrapper .footer__blog-title {
    padding: 7.5px 0;
    font-weight: 700;
  }
  .footer-wrapper .footer__blog-date {
    padding: 5px 0;
  }
  .footer-wrapper .footer__column_3 {
    width: calc((100% - 40px) / 4.11);
  }
  .footer-wrapper .footer__underline {
    padding: 14px 0;
    font-size: 12px;
    line-height: 14px;
  }
  .footer-wrapper .footer__copyright {
    padding: 15px;
  }
}
@media (max-width: 790px) {
  .footer-wrapper .footer__content {
    padding: 28px 0;
    flex-direction: column;
  }
  .footer-wrapper .footer__column_1 {
    width: 100%;
  }
  .footer-wrapper .footer__logo {
    display: none;
  }
  .footer-wrapper .footer__logo-phone {
    display: block;
  }
  .footer-wrapper .footer__desc {
    padding: 7.5px 0;
    text-align: center;
  }
  .footer-wrapper .footer__folowers {
    text-align: center;
    padding: 12.5px 0;
    font-weight: 500;
  }
  .footer-wrapper .footer__icons-title {
    padding: 7.5px 0;
  }
  .footer-wrapper .footer__icon-container {
    width: 16px;
  }
  .footer-wrapper .footer__form {
    margin-top: 25px;
    flex-direction: column;
    gap: 24px;
  }
  .footer-wrapper .footer__input {
    padding: 9.5px 19px;
    border-right: 1px solid #C6CBCD;
    text-align: left;
  }
  .footer-wrapper .footer__btn {
    min-width: 0;
    padding: 10.5px 0;
  }
  .footer-wrapper .footer__column-title {
    padding: 23.5px 0;
    text-align: center;
  }
  .footer-wrapper .footer__column_2 {
    width: 100%;
  }
  .footer-wrapper .footer__blog-list {
    gap: 14px;
  }
  .footer-wrapper .footer__blog {
    gap: 14px;
  }
  .footer-wrapper .footer__blog-img {
    flex-grow: 1;
  }
  .footer-wrapper .footer__blog-info {
    width: 66.6666666667%;
  }
  .footer-wrapper .footer__blog-title {
    padding: 0;
  }
  .footer-wrapper .footer__blog-date {
    padding: 5px 0;
  }
  .footer-wrapper .footer__column_3 {
    width: 100%;
  }
  .footer-wrapper .footer__underline {
    padding: 32.5px 0;
  }
  .footer-wrapper .footer__copyright {
    padding: 10px;
  }
}/*# sourceMappingURL=styles.css.map */